footer{
    background-color: $transparent-dark;
    padding: 1em;
    gap: 1.5em;
  


    a,
    p{
        font-size: 0.6rem;
        margin: 0 auto;
        color: $white;
        opacity: .5;
        width: 50%;
    }
   

    .social-links-footer{
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}