h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: $font-bolder;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 2px;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    background: $primary;
    opacity: 0.4;
    margin: 1rem auto;
  }
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 1.6em;
  font-weight: $font-normal;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 40%;
    background: $hover-accent-20;
    opacity: 0.4;
    margin: 0.5rem auto;
  }
}

p {
  margin: 2rem auto;
}


@media (min-width: 700px) {
  .nav-link{
    font-size: 1rem;
  }
}

.section-title{
  margin-top: 9rem;
  margin-bottom: 2.5rem;
}

.section-title-single{
  margin-top: 2em;
}

.hero-text {
 
  h2 {
    font-size: 2rem;
    font-weight: $font-bolder;
    line-height: 1.5;
    padding: 10%;
    padding-bottom: 0;
  
   

    @media (min-width: 650px){
     padding-top: 20%;
    }
  }

  
}

.intro-text {
  h2 {
    padding: 0 0.4em;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 40%;
      background: $primary;
      opacity: 0.4;
      margin: 1rem auto;
    }
  }
}

.service-container {
  .service-content {
    font-family: $font-stack; 

    h3 {
      margin: 1rem 0;
      font-weight: $font-black;
    }
    h4 {
      color: $hover-accent-20;
    }

    p{
      text-align: center;
      
    }
  }
}
