$primary: #00c9b7;
$secondary: #6fcec5;
$accent: #d2bbe6;

$white: #ffffff;
$dark: #333;

$transparent-dark: rgba(0, 0, 0, 0.7);
$transparent-light: rgba(0, 0, 0, 0.5);

//Hover colors
$hover-primary: darken($primary, 15%);
$hover-accent-10: darken($accent, 10%);
$hover-accent-20: darken($accent, 20%);

//Text colors

$text-primary: $primary;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $primary;

// set text color based on background

@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark;
  } @else {
    @return $text-inverse;
  }
}

// Shadows
$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
$box-shadow-light: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.15),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.1);
